.loginPage:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    background: linear-gradient(135deg,#0b6ec5,#5e49af,#f35815,#fed54a 100%);
    opacity: .3;
    filter: blur(100px);
    transform: skewY(326deg);
    width: 100%;
    height: 75vh;
}
.logoTxt{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}